<!DOCTYPE html>
<html>
<header>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/todc-bootstrap.min.css">
    

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script type="text/javascript" src="/js/vendors/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/js/vendors/underscore.js"></script>
    <script type="text/javascript" src="/js/vendors/jquery.autoresize.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/vendors/bootstrap-paginator.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</header>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= baseUrl %>/"><%= title %></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="<%= baseUrl %>"><%= _T("Home") %></a></li>
                <li><a id="export" href="#export"><%= _T("Export") %></a></li>
                <li><a id="import" href="#import"><%= _T("Import") %></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Enabling languages <b class="caret"></b></a>
                    <div id="enabling-language-box" class="dropdown-menu">
                        <div id="enabling-language-list"></div>
                        <button id="close-enabling-language-list" type="button" class="btn btn-primary btn-sm btn-block">Ok</button>
                    </div>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= _T("Language") %> <b
                                class="caret"></b></a>
                    <ul id="ui-language-list" class="dropdown-menu"></ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="container">
    <div class="form-group search-box">
        <input id="search" type="text" class="form-control" placeholder="Search">
        <span id="search-clear" class="glyphicon glyphicon-remove-circle"></span>
    </div>

    <div class="page-header clearfix">
        <a class="rescan pull-right glyphicon glyphicon-refresh" href="<%= baseUrl %>/rescan"
           title="<%= _T("RESCAN") %>"></a>
    </div>

    <div id="entry-list">

    </div>

    <select id="items-on-page">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
    </select>
    <ul id="pagination"></ul>
</div>

<script type="text/html" id='entry-box-template'>
    <div class="entry {{= entry._orphan}} {{= entry._multiline}}" data-id="{{= entry.hash}}">
        <div class="info pull-left">
            <p class="files">{{= entry._files}}</p>

            <p class="category label label-info">{{= entry.category}}</p>
        </div>
        <div class="toolbar pull-right">
            <a class="toggleMultiline glyphicon glyphicon-align-justify" href="#"
               title="<%= _T("TOGGLE MULTILINE") %>"></a>
            <a class="remove glyphicon glyphicon-remove" href="#" title="<%= _T("DELETE") %>"></a>
        </div>

        <div class="clearfix"></div>
        <div class="translation-box">
            {{ _.each(languages, function (language, locale) { if (!language.hide) { }}

            <div class="field {{ if (language.sourceLanguage) print('original') }} row" data-locale="{{= locale}}">
                <span class="lang-title col-xs-1">{{= locale}}:</span>

                <div class="translation col-xs-11" data-locale="{{= locale}}">{{= entry.locale[locale]}}</div>
            </div>

            {{ }}); }}
        </div>
    </div>
</script>

<script type="text/html" id='filter-language-button-box-template'>
    <div id="filter" class="btn-group pull-left">
        {{ _.each(languages, function (lang, locale) { }}
        <button type="button" class="btn btn-default {{ if (lang.sourceLanguage) print('source') }}" data-toggle="button" data-locale="{{= locale }}">{{= lang.name}}
        </button>
        {{ }); }}
    </div>
</script>

<script type="text/html" id='remove-entry-message'>
    <%= _T("ARE YOU SURE YOU WANT TO DELETE THIS ENTRY ?") %>

    {{= message}}
</script>

<script type="text/html" id='ui-language'>
    {{ _.each(languages, function (lang, locale) { }}
    <li><a href="{{= url}}{{= locale }}">{{= lang.name }}</a></li>
    {{ }); }}
</script>

<script type="text/html" id='enabling-language'>
    {{ _.each(languages, function (lang, locale) { }}
    <label data-href="{{= url}}{{= locale }}"> {{= lang.name }}
        <input type="checkbox" {{ if (lang.enabled) print('checked') }}>
    </label>
    {{ }); }}
</script>

</body>
</html>